@charset "utf-8";

html{background:#fff;overflow:auto;height:100%;}



a{color:#333; text-decoration:none; cursor:pointer; outline: 0 none;}

a:hover{ text-decoration:none;color:#ff4f20;}

a:focus{-moz-outline-style:none; border:0px;blr:expression(this.onFocus=this.blur());}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,p,blockquote,th,td{margin:0; padding:0;}

header,footer,article,aside,section,nav,menu,hgroup,details,dialog,figure,figcaption{display:block}

ol,li,ul,dl,dt,dd{list-style:none;}

fieldset,img {border:0}

button,submit,input,select { vertical-align:middle;}

button,submit { cursor:pointer;}

h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:lighter;}

table{border-collapse:collapse; border-spacing:0;}

sup{vertical-align:text-top;}

sub{vertical-align:text-bottom;}

select,button{font-family:inherit; font-size:inherit; font-weight:inherit; outline-style:none; outline-width:0pt; padding: 0; margin: 0;}

b,em,i{display:inline-block; font-weight:normal; font-style:normal;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;} .clearfix{ zoom:1;}

.container { width:1200px; position:relative; margin:0 auto;}

.fl{float:left;}

.fr{float:right;}

.wrap{width:1200px;margin:0 auto; display:flex;flex-wrap: wrap; justify-content: space-between;}

/*.main{padding-bottom:2%;}*/

.l-box{flex:1; overflow:hidden; margin-right:3%;}

.r-box{width:320px;}

.hide{display:none !important;}

.show{display:block !important;}

/*header*/

header{border-bottom: 1px solid #e0e0e0;}

.heading{width:1080px;height:66px;margin:0 auto;}

h1{float:left;}

h1 a,h1 a img{display: block;height:66px;width:170px;}

.heading p{float:left;height:30px;line-height:30px;margin-top:30px;font-size:14px;margin-left:20px;}

.heading i{font-weight: 600;color:#CC3333;font-size:15px;}

nav{width:100%;height:48px;background: #39AC73;}

.head-nav{width:1080px;margin:0 auto;}

.head-nav li{float: left;line-height: 48px;width:100px;text-align:center;transition:.2s all ease;cursor:pointer;font-weight: 500;position: relative;z-index:10;}

.head-nav li a{display: block;width:100%;height:100%;color:#fff;}

.head-nav li:hover{background:#004D4D;}

.head-nav li:hover a{color:#66CC99;}

.head-nav .active{background: #003333;}

.head-nav .active a{color: #66CC99;}

.navbar-sub{width:1080px;height:30px;line-height:30px;margin:0 auto;font-size:13px;}

.navbar-sub dl{float:left;}

.navbar-sub dl dd,.navbar-sub dl dt{float:left;padding:0 6px;}

.navbar-sub dl dd a{color:#206040;font-weight: 400;}

.navbar-sub dl dd a:hover{color:#333;text-shadow:1px 1px 1px #D9F2E5;}

.navbar-sub dl dt{width:36px;height:22px;background:#CC6666;margin-top:4px;text-align: center;line-height:22px;color:#fff;position: relative;margin-right:10px;font-weight:500;}

.navbar-sub dl dt i{display:block;position:absolute;width:0;height: 0;border-top: 6px solid transparent;border-left: 6px solid #CC6666;border-bottom: 6px solid transparent;right:-5px;top:5px;}

.navbar-sub .nav-basketb dt{margin-left:20px;}

header .second-nav{position: absolute;top:48px;left:0;width:200px;height:auto;background:#004D4D;display: none;}

header .second-nav li{float: left;width:100px;padding:0;text-align:center;height:40px;line-height:40px;font-size:14px;}

header .zonghety-nav{width:100px;}

header .second-nav li:hover a{color:#fff;}

header .second-nav li:hover i{display:inline-block;}

header .second-nav li:hover{background: #66CC66}

header .second-nav li a{color:#66CC99;}

header .second-nav li i{display:none;width:0;height:0;border-left:8px solid #fff;border-top:6px solid transparent;border-bottom:6px solid transparent;margin:0 4px;}

.ball-li:hover ul{display: block;}

.bq-li .second-nav{width:200px;}

footer{width:100%;background:#222;margin-top: 40px;position:absolute;bottom:0;}

footer p{line-height:26px;text-align: center;color:#eee;font-size:12px;}

footer p span{margin-right:16px;}

footer p a{padding:0 10px;border-left:1px solid #fff;text-align: center;color:#eee;}

.top-box{position:fixed;right:100px;bottom:200px;border:2px solid #999;width:50px;height:50px;border-radius:10px;background:url('../img/top2.png') #fff no-repeat center;cursor:pointer;display:none;}

.top-box:hover{border:2px solid #40bf80;background:url('../img/top.png') #fff no-repeat center;}

.top-box a{display:block;width:100%;height:100%;}

@media screen and (max-width:1400px){

	.top-box{right:0;}

}

.Bread-nav{width:1200px;margin:20px auto;}

.Bread-nav li{float:left;font-size:12px;color:#333;}

.Bread-nav li a,.Bread-nav li i{color:#999;margin:0 2px;}

.Bread-nav li a:hover{color:#007744;}





/*直播列表首页*/

.date-box li{min-width:70px;text-align:center;padding:4px 0;border:1px solid #e0e0e0;}

.date-box li a{display: block;width:100%;height:auto;overflow: hidden;}

.date-box .active{background: #BA4547;}

.date-box .active a{color: #fff;}

.live-box{width:1060px;font-size:14px;}

.live-box .datedd,.live-box dt{height:34px;line-height: 34px;background: #eee;cursor:pointer;position: relative;padding:0;}

.live-box .datedd i,.live-box dt i{display:inline-block;width:10px;height:10px;border-radius: 50%;background: #BA4547;margin:0 10px;}

.live-box .datedd img,.live-box dt img{position: absolute;width:16px;height:16px;right:10px;top:8px;transform:rotate(180deg);}

.live-box dd{padding:10px 0;height:auto;border-bottom:1px dotted #e0e0e0;position: relative;}

.live-box dd:hover{background:#f7f7f7;}

.live-box dd:hover .reload a{display: inline-block;}

.live-box dd div{margin:0 8px; float:left; vertical-align: middle;}

.live-box dd .once-event{width:130px;text-align: center;font-size:13px;}

.live-box dd .once-game{width:350px;text-align: center;}

.index-live-box dd .once-event{width:180px;text-align: center;}

.index-live-box dd .once-game{width:400px;text-align: center;}

.once-type{width:40px;text-align:center;}

.once-type a{display:block;width:100%;height:auto;}

.once-type a i{display: inline-block;width:22px;height:22px;}

.once-time{width:70px;text-align: center;}

.once-event a{border-radius: 6px;min-width:80px;line-height:22px;text-align: center;display: inline-block;color:#1574A8;max-width:148px;padding:0 4px;}

.once-game{font-weight: 500;font-size:15px;min-width: 100px;}

.video-link a span{margin:0 4px;display: inline-block;vertical-align: middle;}

.video-link a img{opacity:0.7;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7; opacity: 0.7;}

.video-link a img:hover{opacity:1;filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1; opacity: 1;}

.video-link a{margin:0 6px;color:#007744;font-size:13px;display: inline-block;vertical-align: middle;margin-left:10px;}

.video-link a i{display:inline-block;width:20px;height:20px;background:url('../img/icon-zhibo-white.png');vertical-align:middle;margin:0 4px;}

.video-link a:hover{color:blue;}

.once-rem{width:18px;height:18px;border-radius:2px;background: #ff3f3f;color:#fff;font-size:13px;text-align: center;line-height: 18px;position:relative;}

.once-rem i{position: absolute;width:0;height:0;border-right:6px solid #ff3f3f;border-top:4px solid transparent;border-bottom:6px solid transparent;left:-4px;top:4px;}

.reload a{background:url('../img/sprite.png') 0 -32px;width:22px;height:19px;display: none;}



.allbtn i{background:url('../img/sprite.png') -192px 0;}

.impbtn i{background:url('../img/sprite.png') -256px 0;}

.footbtn i{background:url('../img/sprite.png') 0 0;}

.baskbtn i{background:url('../img/sprite.png') -32px 0;}

.tenbtn i{background:url('../img/sprite.png') -64px 0;}

.volbtn i{background:url('../img/sprite.png') -128px 0;}

.badbtn i{background:url('../img/sprite.png') -96px 0;}

.Tabbtn i{background:url('../img/sprite.png') -160px 0;}

.othbtn i{background:url('../img/sprite.png') -224px 0;}

.scrbtn i{background:url('../img/sprite.png') -288px 0;}



.header-f{height: 40px;line-height: 40px;background:#1089c4;padding-left:10px;box-sizing:border-box;font-weight:500;font-size: 18px;position:relative; color:#fff;}

.header-f a{position:absolute;right:10px;color:#fff;font-size:12px;}



.center{text-align:center;}

.head-fi{border-bottom:2px solid #209dda;height:34px;line-height:34px;position:relative;}

.head-fi p{display:inline-block;min-width:140px;text-align:center;font-size:18px;font-weight:500;background:#209dda;padding:0 10px; color:#fff;}

.head-fi a{position:absolute;right:10px;top:0;font-size:14px;font-weight:400;}





.hot-bq div{border:1px solid #e0e0e0;padding:10px;box-sizing:border-box;}

.hot-bq div a{display:inline-block;padding:0 10px;margin:6px 0;border-right:1px solid #e0e0e0;font-size:14px;}



.icon-foot{background:url('../img/sprite22.png') 0px 0px;width:22px;height:22px}

.icon-basket{background:url('../img/sprite22.png') -44px 0px;width:22px;height:22px}

.icon-ten{background:url('../img/sprite22.png') -88px 0px;width:22px;height:22px}

.icon-vol{background:url('../img/sprite22.png') -132px 0px;width:22px;height:22px}

.icon-bad{background:url('../img/sprite22.png') -176px 0px;width:22px;height:22px}

.icon-Tab{background:url('../img/sprite22.png') -220px 0px;width:22px;height:22px}

.icon-other{background:url('../img/sprite22.png') -308px 0px;width:22px;height:22px}

/*分页*/

.page1{width:100%;background:#fff;margin-top:20px;text-align: center; display:flex;align-items: center;
    justify-content: center;flex-wrap: wrap; height:auto;}

.page1 .pagination1{display:inline-block;border:none;}

.page1 .pagination1 li{float:left;padding:4px;border-radius:4px;border:1px solid #e0e0e0;margin:0 4px;min-width:20px;text-align:center;font-size:14px;font-weight:500;line-height:inherit;min-height:20px !important;}

.page1 .pagination1 li a{display:inline-block;width:100%;height:100%;color:#1089c4;margin:0;}

.page1 .pagination1 li:hover{background:#1089c4;}

.page1 .pagination1 li:hover a{color:#fff;}

.page1 .pagination1 .disabled{background:#e0e0e0;}

.page1 .pagination1 .disabled:hover{background:#e0e0e0;}

.page1 .pagination1 .disabled a{color:#999;}

.page1 .pagination1 .disabled:hover a{color:#999;}

.page1 .pagination1 .active{background:#1089c4;}

.page1 .pagination1 .active a{color:#fff;}



.r-content .hot-pd{border:1px solid #e0e0e0;}

.r-content .hot-pd li i{position:absolute;left:10px;top:10px;width:0;height:0;border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:4px solid #FF6633;}

.r-content .hot-pd li{float:left;width:40%;font-size:14px;height:28px;line-height: 28px;padding-left:20px;position:relative;border:none;}

.r-content .hot-pd li a{width:40%;}



.videoshi .type-ul li{text-overflow: inherit;}



.index-btn a{width:76px;height:26px;line-height: 26px;text-align: center;display: block;background: #39AC73;color:#fff;font-size:12px;border-radius:2px;}

.index-btn a:first-child{margin:6px 4px 4px 0;}

.index-btn a:hover{background: #007744;}





.zhibo-ajax-btn{width: 200px;margin: 20px auto;height: 40px;line-height: 40px;cursor: pointer;border: 1px solid #e0e0e0;text-align: center;

    border-radius: 4px;}

.no-event-dd{text-align: center;}

.no-event-dd span{color:#007744;padding:0 4px;}

.map-a{color:#ff4f20;}



/*榜单*/

.bangdan-div{font-size:14px;margin-top:20px;border:1px solid #e0e0e0;border-top:none;}

.bangdan-div .type-ul{width:100%;border:1px solid #e0e0e0;line-height:30px;box-sizing: border-box;padding:0;margin-bottom:0px;}

.bangdan-div .event-type {margin-bottom:0;background: #fff;font-size:12px;border:none;height:20px;padding:10px 2px;}

.bangdan-div .event-type li{float: left;width:34px;cursor:pointer;text-align: center;border:1px solid #e0e0e0;margin-right:3px;border-radius: 2px;height:20px;line-height:20px;}

.bangdan-div .event-type li:hover{border:1px solid #39AC73;}

.bangdan-div .event-type .active{color:#fff;background: #39AC73;border:1px solid #39AC73;}

.bangdan-div .bang-ul{font-size:16px;display: flex;}

.bangdan-div .bang-ul li{width:48%;float: left;text-align: center;cursor: pointer;line-height:26px !important;height:26px !important;border-right: 1px solid #e0e0e0 !important;flex: 1;font-size:14px;}

.bangdan-div .bang-ul li:last-child{border:none !important;}

.bangdan-div .bang-ul li:hover{color:#39AC73;}

.bangdan-div .bang-ul .active{color:#39AC73;background: #fff;font-weight:600;border-bottom:none !important;}

.bangdan-div .group-ul{border-top:none;}

.bangdan-div .group-ul li{float: left;width:38px;text-align: center;cursor: pointer;}

.bangdan-div .bang .group-ul .active{color:#39AC73;background: #fff;border:none;height:26px;font-weight: 500;}

.bangdan-div .bang-contnet{margin-top:4px;}

.bangdan-div .shes,.bang,.group-dl,.bask-div,.baskbang{display: none;}



.bangdan-div .bang-contnet dd,.bang-contnet dt{display: inline-block;vertical-align: middle;width: 100%;line-height: 26px;}

.bangdan-div .bang-contnet dt{background: #f7f7f7;}

.bangdan-div .bang-contnet dd{font-size:13px;border-bottom: 1px dotted #e0e0e0;line-height:30px;}

.bangdan-div .bang-contnet p{display: inline-block;vertical-align: middle;width:48px;text-align: center;}

.bangdan-div .bang-contnet p:nth-child(2){width:120px;}

.bangdan-div .bang-contnet p:nth-child(3){width:100px;}

.bangdan-div .bang-contnet p span{display: inline-block;width:16px;height:16px;color:#fff;border-radius:50%;vertical-align: middle;line-height: 16px;}

.basket-ul .bang-ul li{width:70px;}



/*赛程*/

.schedule-div{margin-top:20px;font-size:14px;}

.schedule-div .box{border:1px solid #e0e0e0;}

.schedule-div .event-ul{background:url('../img/sech-bg.jpg') no-repeat center;height:26px;width:100%;margin:6px 0;}

.schedule-div .bask-sch-div .event-ul{background:url('../img/sech-bask-bg.jpg') no-repeat center;}

.schedule-div .bask-sch-div .event-ul li{width:152px;}

.schedule-div .event-ul li{float: left;width:52px;cursor:pointer;line-height:26px;text-align: center;}

.schedule-div .event-ul li:hover{color:#007744;}

.schedule-div .event-ul  .active{color:#007744;font-weight:600;}

.schedule-div .content{border-top:1px solid #e0e0e0;width:310px;margin:0 auto;display:none;}

.schedule-div .content a{display: block;float: left;margin:8px;width:60px;height:60px;}

.schedule-div .content a img{display: block;width:30px;height:30px;margin:4px auto;}

.schedule-div .content a p{font-size:13px;text-align: center;line-height: 14px;}



/*录像分类*/

.lxfl-div{margin-bottom:20px;}

.lxfl-div .event-ul{display: flex;border:none;padding:0;margin:0;border-right:1px solid #e0e0e0;}

.lxfl-div .event-ul li{flex:1;box-sizing:border-box;border:1px solid #e0e0e0;border-bottom:1px solid #007744;font-size:14px;text-align: center;line-height:20px;height:60px;cursor: pointer;}

.lxfl-div .event-ul li:last-child{border-right:none;}

.lxfl-div .event-ul .active{border:1px solid #007744;border-bottom:1px solid #fff;}

.lxfl-div .event-ul img{display: block;width:30px;height:30px;margin:2px auto;}

.lxfl-div .box-cont{display: none;box-sizing: border-box;border:1px solid #007744;border-top:none;padding:10px 4px;}

.lxfl-div .box-cont-t{border:1px solid #e0e0e0;}

.lxfl-div .box-cont dl{margin-bottom:10px;}

.lxfl-div .box-cont dt{width:80px;font-weight:600;font-size:14px;}

.lxfl-div .box-cont dd{width:100%;}

.lxfl-div .box-cont dd a{display: inline-block;padding:0 10px;margin-bottom:6px;font-size:13px;}

.schedule-div .event-ul{border:none;padding:0;}



.red{ color: #ff3f3f ;font-weight:600;}



.head-nav li .worldcup-a{color:yellow;}

.worldcup-a img{position:absolute;right:-12px;width:22px;height:10px;top:10px;}



#full_screen_open {

    width: 32px;

    height: 32px;

    background: #fff;

    background-image: url(../img/big.png);

    background-size: 32px 32px;

    background-position-y: -4px;

    background-position-x: -2px;

    cursor: pointer;

    border: 3px solid #fff;

    position: absolute;

    right: 40px;

    top: -4px;

    z-index: 4999;

}

#full_screen_open:hover {

    background: #fff;

    background-image: url(../img/big2.png);

    background-size: 32px 32px;

    background-position-y: -4px;

    background-position-x: -2px;

}



.cache-div p{text-align:center;margin:50px 0;color:#333 !important;}.cache-div{width:100%;height:100%;background:#fff;position:absolute;top:0;left:0;z-index:10;}.cache-div .close{cursor:pointer;color:#de1e30;margin-left:10px;}.cache-div img{margin:30px 250px;}


 @media only screen and (max-width:1200px) {
	 .wrap{ width:100%;}
	 .Bread-nav{ width:100%;}
 }