<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Copyright" content="コードスクリプトの家" />
    <meta name="robots" content="index,follow" />

    <title>オンラインウェブマスターツール - コードスクリプトの家</title>
    <meta name="keywords" content="jsコードツールボックス、ツールボックス、駅長ツール、大文字と小文字の変換、文字数の統計、MD5オンライン暗号化、URL16進暗号化" />
    <meta name="description" content="オンラインストアマスターツールは、jsコードツールボックス、ソリューションボックス、駅長ツール、大きなテキストと小さなテキストの変換、テキスト数の統計、MD5暗号化、URL暗号化、およびその他の便利なツールを提供します、効果的に作業効率を向上させます。" />

    <link rel="stylesheet" type="text/css" href="__PC_CSS__/style.css?ver=1.01" >
    <link rel="stylesheet" type="text/css" href="__PC_CSS__/list.css?ver=1.07" >
    <script type="text/javascript" src="__PC_JS__/jquery.min.js"></script>


    <link rel="shortcut icon" type="image/x-icon" href="__PC_IMG__/icon/favicon32.ico" media="screen"/>

</head>
<body>
{include file="public/header" /}

<div class="g-box g-jknav">
    <i class="ico-path"></i>
    <strong>
        <a href="/">Home</a>  →
        オンラインウェブマスターツール
    </strong>
</div>

<div id="wrapper">

    <div id="main" class="clearfix">
        <div class="main-left">

            <div id="tools" class="tool_index">
                <ul>
                    {volist name="tools" id="tool"}
                    <li><a href="/tools/{$tool['action']}.html" title="{$tool['title']}">{$tool['title']}</a></li>
                    {/volist}
                </ul>

            </div>




        </div>
        <div class="main-right">

            <div class="bor-default bor-blue">
                <h4 class="blue">人気ランキング</h4>
                <ul class="newsList newList-in">
                    {volist name="rankArticles" id="rankArticle" key="k"}
                    <li>
                        <em class="no1">{$k}</em>
                        <a href="/article/{$rankArticle['article_id']}.html" title="{$rankArticle['title']}">{$rankArticle['title']}</a>
                    </li>
                    {/volist}
                </ul>
            </div>

            <div class="bor-default bor-blue">
                <h4 class="blue">最近更新した内容</h4>
                <ul class="new-article">
                    {volist name="latestArticles" id="latestArticle"}
                    <li><a href="/article/{$latestArticle.article_id}.html" title="{$latestArticle.title}">{$latestArticle.title}</a></li>
                    {/volist}
                </ul>
            </div>

        </div>
    </div>



</div>

{include file="public/footer" /}

<script type="text/javascript">
    $(function(){
        var $left = $('.main-left');
        var $right = $('.main-right');
        var l_h = $left.height();
        var r_h = $right.height();
        if( l_h >= r_h ){
            $right.css('height',l_h);
        }else{
            $('.tool_index').css('height',r_h);
        }
    });


</script>

</body>



</html>