
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{$second['category_name']}</title>
    <meta content="{$second['keywords']}" name="keywords">
    <meta content="{$second['description']}" name="description">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="__TIYU_CSS__/index.css">
    <link rel="stylesheet" href="__TIYU_CSS__/style.css">
    <link href="__TIYU_CSS__/public.css" type="text/css" rel="stylesheet">
    <link href="__TIYU_CSS__/biaoqian.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="__TIYU_JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__TIYU_JS__/swiper/swiper-4.5.0.min.js"></script>
    <script type="text/javascript"  src="__TIYU_JS__/jquery.min.js"></script>
    <script type="text/javascript" src="__TIYU_JS__/biebuzhu.js"></script>
</head>
<body>
<!-- header/S -->

<!-- nav/S -->
{include file="public/header" /}

<!--手机导航-->


<!--biaoqin-->
<div class="main">
    <!--ctj_box-->

    <div class="content_box2">
        <div class="row_one">
            <div class="col-sm-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">推荐{$type_name}集锦</div>
                    </div>
                    <ul class="list-group">
                        {volist name="hot_highlights" id="highlight"}
                        <li>
                            <a href="/{$top_category[$highlight['top_id']]}/{$highlight['id']}.html" title="{$highlight['title']}">
                                <b>{$highlight['title']}</b>
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">最新{$type_name}集锦</div>
                    </div>
                    <ul class="panel-body list-group">
                        {volist name="latest_highlights" id="highlight"}
                        <li>
                            <a href="/{$top_category[$highlight['top_id']]}/{$highlight['id']}.html" title="{$highlight['title']}">
                                <b>{$highlight['title']}</b>
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>

            {volist name="lians_news" id="ln"}
            <div class="col-sm-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">{$ln['category_name']}</div>
                        <ul class="panle-title-list">
                            {volist name="ln.teams" id="team"}
                            <li><a href="/{$team['pinyin']}/index.html">{$team['category_name']}</a></li>
                            {/volist}
                        </ul>
                        <a href="/{$ln['pinyin']}/index.html" class="more" title="收起">更多>></a></div>
                    <ul class="panel-body list-group">
                        {volist name="ln.videos" id="video"}
                        <li><a href="/{$top_category[$video['top_id']]}/{$video['id']}.html" title="{$video['title']}">{$video['title']}</a></li>
                        {/volist}
                    </ul>
                </div>
            </div>
            {/volist}


        </div>
    </div>
</div>

<!-- 公共底部 -->

<!--底部-->
{include file="public/footer" /}

<script>
    $(".btnlist").each(function(idx,item){
        $(item).children().eq(0).addClass("cur");
        if(!!$(this).attr("rel"))
        {
            $($(this).attr("rel")).children().eq(0).addClass("cur");
        }
    });
    $(".btnlist").children().bind("mouseenter touch",function(){
        if($(this).is(".cur")){return false;}
        var parent = $(this).parent();
        var obj_box= $($(this).parent().attr("rel"));
        var index  = parent.children().index(this);
        if(obj_box.children().eq(index).size() <= 0){ return false;}
        parent.find(".cur").removeClass("cur");
        $(this).addClass("cur");
        obj_box.children().removeClass("cur");
        obj_box.children().eq(index).addClass("cur");
        return false;
    });
</script>
<script type="text/javascript" src="../js/index1.js"></script>
</body></html>