<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" />
    <title>{$second['category_name']}</title>
    <meta content="{$second['description']}" name="description" />
    <meta content="{$second['keywords']}" name="keywords" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"  />
    <link rel="stylesheet" href="__TIYU_CSS__/reset.css" />
    <link rel="stylesheet" href="__TIYU_CSS__/index.css">
    <link rel="stylesheet" href="__TIYU_CSS__/style.css" />
    <link rel="stylesheet" href="__TIYU_CSS__/sy-footer.css">
    <link rel="stylesheet" href="__TIYU_CSS__/hot_news.css" />
    <script type="text/javascript"  src="__TIYU_JS__/jquery.min.js"></script>
    <script type="text/javascript" src="__TIYU_JS__/biebuzhu.js"></script>
</head>

<body>

<!-- header/S -->
{include file="public/header" /}

<div class="content_box">
    <div class="local">
        <span class="one">当前位置：</span><a href="/index.html">首页</a> >

        <span>{$second['category_name']}</span></div>
    <div class="part_o">
        <div class="toc_left_w665">
            <div class="topic_match_box">
                <div class="topic_tag_title">
                    <h1>热门比赛</h1>
                    {volist name="other_games_url" id="o_url"}
                    <i>|</i> <a href="/{$o_url.pinyin}/index.html">{$o_url.category_name} <s>&gt;</s></a>
                    {/volist}
                    <i>|</i> <a href="/{$all_games_url.pinyin}/index.html">全部直播 <s>&gt;</s></a>
                </div>
                <div class="topic_match_list">
                    {volist name="hot_games" id="game"}
                    <div class="list_block">
                        <a href="/{$top_category[$game.top_id]}/{$game.id}.html" target="_blank">
                            <div class="state gray">
                                {if condition="$game.create_time + 7200 lt $time "}
                                已结束
                                {else}
                                未开始
                                {/if}
                            </div>
                            <time class="time">{$game.create_time|date="m-d H:i",###}</time>
                            <div class="type text-ignore">{$game.saishi}</div>
                            <div class="match_name">
                                <span class="text_left text-ignore">{$game.zhudui}</span>
                                <!--<img class="lazy" src="img/20180117154321.jpg" data-original="img/20180117154321.jpg">-->
                                <strong style="padding: 0 10px;">{$game.bifen}</strong>
                                <!--<div class="shape"></div>-->
                                <!--<strong>112</strong>-->
                                <!--<img class="lazy" src="img/20180117153007.png" data-original="img/20180117153007.png">-->
                                <span class="text_right text-ignore">{$game.kedui}</span> </div>
                            <!--<div class="resource green">集锦</div>-->
                        </a>
                    </div>
                    {/volist}
                </div>
            </div>
            <div class="hot_textimg_box">
                <div class="hot_textimg clearfix">
                    <ul>
                        {volist name="three" id="top" key="k"}
                        <li>
                            <a href="/{$top_category[$top.top_id]}/{$top.article_id}.html" target="_blank"> <img src="{$top.thumbnail}" alt="{$top.title}"/>
                                <span>{$top.title}</span>
                                {switch name="$k"}
                                {case value="1"}<strong>足球最Top</strong>{/case}
                                {case value="2"}<strong>足球万花筒</strong>{/case}
                                {default /}<strong>足球麻辣烫</strong>
                                {/switch}
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
        <div class="toc_right_w525">
            <div class=" toc_articles_box ">
                <div class="topic_articles">
                    {volist name="top_right" id="right"}
                    <h1> <i class="tag">{$right['category_name']}</i>
                        {volist name="right.news" id="new" offset="0" length="1"}
                        <a href="/{$url}/{$new['article_id']}.html" target="_blank" title="{$new['title']}">{$new['title']}</a>
                        {/volist}
                    </h1>
                    <ul>
                        {volist name="right.news" id="new" offset="1" length="4"}
                        <li> <a href="/{$url}/{$new['article_id']}.html" target="_blank" title="{$new['title']}" class=""> {$new['title']} </a> </li>
                        {/volist}
                    </ul>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
    <div class="part_o">
        <div class="toc_left_w850">

            {volist name="leagues" id="league" key="k"}
            <div class="topic_name_video_box">
                <div class="tocname_tag_title">
                    <div class="tpleft"><img class="lazy" src="{$league['img']}" data-original="" />
                        <h1><a href="/{$league['pinyin']}/index.html">{$league['category_name']}</a></h1>
                    </div>
                    <a href="/{$league['pinyin']}/index.html" class="gd" target="_blank">更多></a>
                    <ul class="btnlist" rel=".tabcontent_{$k}">
                        {volist name="league.teams" id="team"}
                        <li data-value="{$team['category_name']}" class="team-tag"> <a href="javascript:"  class="active">{$team['category_name']}</a> </li>
                        {/volist}
                    </ul>
                </div>

                <div class="tabcontent_{$k}">
                    {volist name="league.teams" id="team"}
                    <div class="ta_show">
                        <div class="tocname_list clearfix">
                            <ul>
                                {volist name="team.news" id="new" offset="0" length="5"}
                                <li> <a href="/{$url}/{$new['article_id']}.html" title="{$new['title']}" target="_blank">{$new['title']}</a> </li>
                                {/volist}

                            </ul>
                            <ul>
                                {volist name="team.news" id="new" offset="5" length="5"}
                                <li> <a href="/{$url}/{$new['article_id']}.html" title="{$new['title']}" target="_blank">{$new['title']}</a> </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                    {/volist}
                </div>
                <div class="tocname_score_box clearfix"> </div>
            </div>
            {/volist}

        </div>

        <div class="toc_right_w340">
            <div style="margin-top: 10px;"></div>
            <div class="topic_right_block">
                <div class="tocr_block_title">
                    <h1>五大联赛</h1>
                    <a href="/jifen/nba/">完整排行</a> </div>
                <div class="tocr_block_taggle">
                    <ul>
                        <li class="active" style="width: 20%">英超<s></s></li>
                        <li class="" style="width: 20%">西甲<s></s></li>
                        <li class="" style="width: 20%">德甲<s></s></li>
                        <li class="" style="width: 20%">法甲<s></s></li>
                        <li class="" style="width: 20%">意甲<s></s></li>

                    </ul>
                </div>
                <div class="ranking_taggle">
                    <div class="tocr_block_table" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th style="width: 10%;">排名</th>
                                <th colspan="2" style="width: 50%;">球队</th>
                                <th style="width: 20%">胜负</th>
                                <th style="width: 20%;">积分</th>
                            </tr>
                            <tr>
                                <td><span class="red">1</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117152851.png"  /></td>
                                <td style="text-align: left;">76人</td>
                                <td>49/23</td>
                                <td>0.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">2</span></td>
                                <td><img class="lazy" width="35px" src="img/20120821112729.jpg"  /></td>
                                <td style="text-align: left;">篮网</td>
                                <td>48/24</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">3</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117154321.jpg"  /></td>
                                <td style="text-align: left;">雄鹿</td>
                                <td>46/26</td>
                                <td>3.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">4</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112165918.jpg"  /></td>
                                <td style="text-align: left;">尼克斯</td>
                                <td>41/31</td>
                                <td>8.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">5</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117153007.png"  /></td>
                                <td style="text-align: left;">老鹰</td>
                                <td>41/31</td>
                                <td>8.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">6</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112154051.jpg"  /></td>
                                <td style="text-align: left;">热火</td>
                                <td>40/32</td>
                                <td>9.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">7</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112150854.jpg"  /></td>
                                <td style="text-align: left;">凯尔特人</td>
                                <td>36/36</td>
                                <td>13.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">8</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117153230.png"  /></td>
                                <td style="text-align: left;">奇才</td>
                                <td>34/38</td>
                                <td>15.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">9</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117154046.png"  /></td>
                                <td style="text-align: left;">步行者</td>
                                <td>34/38</td>
                                <td>15.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">10</span></td>
                                <td><img class="lazy" width="35px" src="img/20140521143018.jpg"  /></td>
                                <td style="text-align: left;">黄蜂</td>
                                <td>33/39</td>
                                <td>16.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">11</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112161112.jpg"  /></td>
                                <td style="text-align: left;">公牛</td>
                                <td>31/41</td>
                                <td>18.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">12</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117152618.png"  /></td>
                                <td style="text-align: left;">猛龙</td>
                                <td>27/45</td>
                                <td>22.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">13</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117153527.png"  /></td>
                                <td style="text-align: left;">骑士</td>
                                <td>22/50</td>
                                <td>27.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">14</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112171211.jpg"  /></td>
                                <td style="text-align: left;">魔术</td>
                                <td>21/51</td>
                                <td>28.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">15</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117153734.png"  /></td>
                                <td style="text-align: left;">活塞</td>
                                <td>20/52</td>
                                <td>29.0</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tocr_block_table" style="display: none;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th style="width: 10%;">排名</th>
                                <th colspan="2" style="width: 50%;">球队</th>
                                <th style="width: 20%">胜负</th>
                                <th style="width: 20%;">胜场差</th>
                            </tr>
                            <tr>
                                <td><span class="red">1</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117160235.jpg"  /></td>
                                <td style="text-align: left;">爵士</td>
                                <td>52/20</td>
                                <td>0.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">2</span></td>
                                <td><img class="lazy" width="35px" src="img/20181110015009.jpg"  /></td>
                                <td style="text-align: left;">太阳</td>
                                <td>51/21</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">3</span></td>
                                <td><img class="lazy" width="35px" src="img/20181110015501.jpg"  /></td>
                                <td style="text-align: left;">掘金</td>
                                <td>47/25</td>
                                <td>5.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">4</span></td>
                                <td><img class="lazy" width="35px" src="img/20181127002318.jpg"  /></td>
                                <td style="text-align: left;">快船</td>
                                <td>47/25</td>
                                <td>5.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">5</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112153816.jpg"  /></td>
                                <td style="text-align: left;">独行侠</td>
                                <td>42/30</td>
                                <td>10.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">6</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117155150.jpg"  /></td>
                                <td style="text-align: left;">开拓者</td>
                                <td>42/30</td>
                                <td>10.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">7</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112163535.jpg"  /></td>
                                <td style="text-align: left;">湖人</td>
                                <td>42/30</td>
                                <td>10.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">8</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112154418.jpg"  /></td>
                                <td style="text-align: left;">灰熊</td>
                                <td>38/34</td>
                                <td>14.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">9</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112150506.jpg"  /></td>
                                <td style="text-align: left;">勇士</td>
                                <td>39/33</td>
                                <td>13.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">10</span></td>
                                <td><img class="lazy" width="35px" src="img/20200413151531.jpg"  /></td>
                                <td style="text-align: left;">马刺</td>
                                <td>33/39</td>
                                <td>19.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">11</span></td>
                                <td><img class="lazy" width="35px" src="img/20130419172910.jpg"  /></td>
                                <td style="text-align: left;">鹈鹕</td>
                                <td>31/41</td>
                                <td>21.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">12</span></td>
                                <td><img class="lazy" width="35px" src="img/20160428142101.jpg"  /></td>
                                <td style="text-align: left;">国王</td>
                                <td>31/41</td>
                                <td>21.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">13</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117154934.jpg"  /></td>
                                <td style="text-align: left;">森林狼</td>
                                <td>23/49</td>
                                <td>29.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">14</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112162143.jpg"  /></td>
                                <td style="text-align: left;">雷霆</td>
                                <td>22/50</td>
                                <td>30.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">15</span></td>
                                <td><img class="lazy" width="35px" src="img/20210508101842.png"  /></td>
                                <td style="text-align: left;">火箭</td>
                                <td>17/55</td>
                                <td>35.0</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>



            <div class="topic_right_block">
                <div class="tocr_block_title">
                    <h1>其它比赛</h1>
                    <a href="/jifen/nba/">完整排行</a> </div>
                <div class="tocr_block_taggle">
                    <ul>
                        <li class="active" style="width: 20%">中超<s></s></li>
                        <li class="" style="width: 20%">中甲<s></s></li>


                    </ul>
                </div>
                <div class="ranking_taggle">
                    <div class="tocr_block_table" style="">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th style="width: 10%;">排名</th>
                                <th colspan="2" style="width: 50%;">球队</th>
                                <th style="width: 20%">胜负</th>
                                <th style="width: 20%;">积分</th>
                            </tr>
                            <tr>
                                <td><span class="red">1</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117152851.png"  /></td>
                                <td style="text-align: left;">76人</td>
                                <td>49/23</td>
                                <td>0.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">2</span></td>
                                <td><img class="lazy" width="35px" src="img/20120821112729.jpg"  /></td>
                                <td style="text-align: left;">篮网</td>
                                <td>48/24</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">3</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117154321.jpg"  /></td>
                                <td style="text-align: left;">雄鹿</td>
                                <td>46/26</td>
                                <td>3.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">4</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112165918.jpg"  /></td>
                                <td style="text-align: left;">尼克斯</td>
                                <td>41/31</td>
                                <td>8.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">5</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117153007.png"  /></td>
                                <td style="text-align: left;">老鹰</td>
                                <td>41/31</td>
                                <td>8.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">6</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112154051.jpg"  /></td>
                                <td style="text-align: left;">热火</td>
                                <td>40/32</td>
                                <td>9.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">7</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112150854.jpg"  /></td>
                                <td style="text-align: left;">凯尔特人</td>
                                <td>36/36</td>
                                <td>13.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">8</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117153230.png"  /></td>
                                <td style="text-align: left;">奇才</td>
                                <td>34/38</td>
                                <td>15.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">9</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117154046.png"  /></td>
                                <td style="text-align: left;">步行者</td>
                                <td>34/38</td>
                                <td>15.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">10</span></td>
                                <td><img class="lazy" width="35px" src="img/20140521143018.jpg"  /></td>
                                <td style="text-align: left;">黄蜂</td>
                                <td>33/39</td>
                                <td>16.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">11</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112161112.jpg"  /></td>
                                <td style="text-align: left;">公牛</td>
                                <td>31/41</td>
                                <td>18.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">12</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117152618.png"  /></td>
                                <td style="text-align: left;">猛龙</td>
                                <td>27/45</td>
                                <td>22.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">13</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117153527.png"  /></td>
                                <td style="text-align: left;">骑士</td>
                                <td>22/50</td>
                                <td>27.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">14</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112171211.jpg"  /></td>
                                <td style="text-align: left;">魔术</td>
                                <td>21/51</td>
                                <td>28.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">15</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117153734.png"  /></td>
                                <td style="text-align: left;">活塞</td>
                                <td>20/52</td>
                                <td>29.0</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tocr_block_table" style="display: none;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th style="width: 10%;">排名</th>
                                <th colspan="2" style="width: 50%;">球队</th>
                                <th style="width: 20%">胜负</th>
                                <th style="width: 20%;">胜场差</th>
                            </tr>
                            <tr>
                                <td><span class="red">1</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117160235.jpg"  /></td>
                                <td style="text-align: left;">爵士</td>
                                <td>52/20</td>
                                <td>0.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">2</span></td>
                                <td><img class="lazy" width="35px" src="img/20181110015009.jpg"  /></td>
                                <td style="text-align: left;">太阳</td>
                                <td>51/21</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">3</span></td>
                                <td><img class="lazy" width="35px" src="img/20181110015501.jpg"  /></td>
                                <td style="text-align: left;">掘金</td>
                                <td>47/25</td>
                                <td>5.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">4</span></td>
                                <td><img class="lazy" width="35px" src="img/20181127002318.jpg"  /></td>
                                <td style="text-align: left;">快船</td>
                                <td>47/25</td>
                                <td>5.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">5</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112153816.jpg"  /></td>
                                <td style="text-align: left;">独行侠</td>
                                <td>42/30</td>
                                <td>10.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">6</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117155150.jpg"  /></td>
                                <td style="text-align: left;">开拓者</td>
                                <td>42/30</td>
                                <td>10.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">7</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112163535.jpg"  /></td>
                                <td style="text-align: left;">湖人</td>
                                <td>42/30</td>
                                <td>10.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">8</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112154418.jpg"  /></td>
                                <td style="text-align: left;">灰熊</td>
                                <td>38/34</td>
                                <td>14.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">9</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112150506.jpg"  /></td>
                                <td style="text-align: left;">勇士</td>
                                <td>39/33</td>
                                <td>13.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">10</span></td>
                                <td><img class="lazy" width="35px" src="img/20200413151531.jpg"  /></td>
                                <td style="text-align: left;">马刺</td>
                                <td>33/39</td>
                                <td>19.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">11</span></td>
                                <td><img class="lazy" width="35px" src="img/20130419172910.jpg"  /></td>
                                <td style="text-align: left;">鹈鹕</td>
                                <td>31/41</td>
                                <td>21.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">12</span></td>
                                <td><img class="lazy" width="35px" src="img/20160428142101.jpg"  /></td>
                                <td style="text-align: left;">国王</td>
                                <td>31/41</td>
                                <td>21.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">13</span></td>
                                <td><img class="lazy" width="35px" src="img/20180117154934.jpg"  /></td>
                                <td style="text-align: left;">森林狼</td>
                                <td>23/49</td>
                                <td>29.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">14</span></td>
                                <td><img class="lazy" width="35px" src="img/20120112162143.jpg"  /></td>
                                <td style="text-align: left;">雷霆</td>
                                <td>22/50</td>
                                <td>30.0</td>
                            </tr>
                            <tr>
                                <td><span class="red">15</span></td>
                                <td><img class="lazy" width="35px" src="img/20210508101842.png"  /></td>
                                <td style="text-align: left;">火箭</td>
                                <td>17/55</td>
                                <td>35.0</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>


        <div class="toc_right_w340">
            <div style="margin-top: 10px;"></div>
        </div>
    </div>

</div>

<!--底部-->
{include file="public/footer" /}


<script type="text/javascript">
    $('.tocr_block_taggle li').on("mouseover", function () {
        var _index = $(this).index();
        $(this).addClass("active").siblings().removeClass();
        $(this).parents('.tocr_block_taggle').siblings('.ranking_taggle').children('div').eq(_index).show().siblings().hide();
    })
</script>
<script>
    $(".btnlist").each(function(idx,item){
        $(item).children().eq(0).addClass("cur");
        if(!!$(this).attr("rel"))
        {
            $($(this).attr("rel")).children().eq(0).addClass("cur");
        }
    });
    $(".btnlist").children().bind("click",function(){
        if($(this).is(".cur")){return false;}
        var parent = $(this).parent();
        var obj_box= $($(this).parent().attr("rel"));
        var index  = parent.children().index(this);
        if(obj_box.children().eq(index).size() <= 0){ return false;}
        parent.find(".cur").removeClass("cur");
        $(this).addClass("cur");
        obj_box.children().removeClass("cur");
        obj_box.children().eq(index).addClass("cur");
        return false;
    });
</script>

</body>
</html>