<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="copyright" content="https://www.24zbw.com" />
    <title>{$type_name}直播</title>
    <meta content="{$type_name}直播" name="description" />
    <meta content="{$type_name}直播" name="keywords" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"  />
    <link rel="stylesheet" href="__TIYU_CSS__/reset.css" />
    <link rel="stylesheet" href="__TIYU_CSS__/index.css">
    <link rel="stylesheet" href="__TIYU_CSS__/style.css" />
    <link rel="stylesheet" href="__TIYU_CSS__/sy-footer.css">
    <script type="text/javascript"  src="__TIYU_JS__/jquery.min.js"></script>
    <script type="text/javascript" src="__TIYU_JS__/biebuzhu.js"></script>
</head>
<body>
{include file="public/header" /}
<div class="content_box1">
    <div class="local"><a href="/index.html">首页</a> > <span>{$type_name}直播</span></div>
</div>
<div class="content_box">

    <div class="content_match_fixed">
        {volist name="zhiboData" id="item"}
        <a href="#{$item['day']}" class='{if condition="$item.is_today eq 1"}today{else}after-today{/if}'>
            <i class="tagLine"></i>
            {if condition="$item.show_day eq 1"}
            <div>{$item['day']}</div>
            {/if}
            <div>{$item['week']}</div>
        </a>
        {/volist}


        {volist name="videoData" id="item"}
        {if condition="$item.is_today neq 1"}
        <a href="#{$item['day']}" class="before-today">
            <i class="tagLine"></i>
            {if condition="$item.show_day eq 1"}
            <div>{$item['day']}</div>
            {/if}
            <div>{$item['week']}</div>
        </a>
        {/if}
        {/volist}

        <a class="to-top">顶部</a>
    </div>
    <div class="content_left">
        <div class="content_match_tab">
            <div id="liveList">
                <li class="no-complete-match active"><a class="active">未完赛比赛</a></li>
                <li class="complete-match"><a>近期完赛视频</a></li>
            </div>
        </div>
        <div class="content_match_sheng">
            <p>本站所有比赛和视频链接均由网友提供，并链接到其他网站播放。</p>
        </div>
        <div class="content_match">
            <div class="content_match_not" style="position: relative;">
                <time class="time_show">更新时间：{$now}</time>

                {volist name="zhiboData" id="item"}
                <div class="content_match_text" id="contentZ">
                    <h6 id="{$item.day}">
                        <time>{$item.day} {$item.week}</time>
                    </h6>

                    {volist name="item.list" id="data"}
                    <li id="{$data.id}" data-id="{$data.id}" data-type="lanqiu" data-name="{$data.category_name}" class="matchItem">
                        <div class="scoreLeft">
                            <time>{$data.create_time|date="m:d",###}</time>
                            <p class="bout text-ignore"><a href="/{$data.pinyin}/index.html">{$data.category_name}</a></p>
                        </div>
                        <div class="scoreMiddle">
                            <div class="scoreM scoreMiddle_top">
                                <img class="lazy" src='/images/default_img_60x60.png' />
                                <div class="scoreM_team">{$data.zhudui}</div>
                                <div>0</div>
                            </div>
                            <div class="scoreM scoreMiddle_bot">
                                <img class="lazy" src='/images/default_img_60x60.png' />
                                <div class="scoreM_team">{$data.kedui}</div>
                                <div>0</div>
                            </div>
                        </div>
                        <div class="scoreRight">
                            <a id="contentAnalyse" class="scoreRight_active" href="/{$top_category[$second.top_id]}/{$data.id}.html" target="_blank">直播信号</a>
                        </div>
                    </li>
                    {/volist}

                </div>
                {/volist}

            </div>

            <div class="content_match_with" style="display: none; position: relative;">
                <time class="time_show">更新时间：{$now}</time>

                <!--<div class="content_match_text">-->

                <!--</div>-->

                {volist name="videoData" id="item"}
                <div class="content_match_text one">
                    <h6 id="{$item.day}">
                        <time>{$item.day} {$item.week}</time>
                    </h6>
                    <ul>
                        {volist name="item.list" id="data"}
                        <li>
                            <a href="/{$top_category[$data.top_id]}/{$data.id}.html">{$data.title}</a> [<a href="/{$data.pinyin}/index.html">{$data.category_name}</a>]
                        </li>
                        {/volist}
                    </ul>
                </div>
                {/volist}

            </div>
        </div>
    </div>

    <div style="width: 100%;height:20px;background: #f1f1f1"></div>
    <div class="nav_exp">
        <p class="nav_exp_P">直播网提供最新足球直播在線免費觀看，足球賽程，足球積分榜，射手榜，助攻榜，足球免費直播，足球在線觀看免費高清直播，轉播，視頻集錦，視頻回放，新聞資訊，陣容，實時比分 賽前分析，足球直播以及足球視頻回放鏈接均由網友提供，足球直播跳轉鏈接到其他網站觀看播放。</p>
    </div> <div style="width: 100%;height:20px;background: #f1f1f1"></div>
    <div class="nav_explain1">
        <p>本站所有比赛和视频链接均由网友提供，并链接到其他网站播放。</p>
    </div>
</div>
<div class="sliderCon">
    <div class="appCode" style="display: none;">
        <div class="appCodeLi">
            <div class="appCodeTitle">24直播手机客户端</div>
            <div class="appCodeImg">
                <div id="qrcode"></div>
            </div>
            <div class="appCodeScan">
                <p>扫码下载</p>
            </div>
        </div>
    </div>
    <div class="advertisingLocation adverBan" style="display: none;">
    </div>
</div>

<!--底部-->
{include file="public/footer" /}


<script>$(".no-complete-match").on("click",function() {$(".after-today").show();$(".before-today").hide();$(".content_match_fixed a").removeClass("active");$(".today").addClass("active");});$(".complete-match").on("click",function() {$(".after-today").hide();$(".before-today").show();$(".content_match_fixed a").removeClass("active");$(".today").addClass("active");});$('.to-top').on("click",function() {$('body,html').animate({scrollTop:0
},500);$(this).removeClass("active");})
$(window).scroll(function() {var scrollTop =$(this).scrollTop();var scrollHeight =$(document).height();var windowHeight =$(this).height();var headH =$(".live_logo").height() + $(".subnav_box").height() + 20;var footH =$(".bottom_box").height();var dateH =$(".content_match_fixed").height();if(windowHeight < footH + dateH){if(scrollTop >=headH){if(scrollHeight>=footH + dateH){if (scrollHeight - scrollTop - windowHeight <=150) {$('.content_box .content_match_fixed').css({"position":"absolute","bottom":"0","left":"auto"
});$('.content_box .content_match_fixed').css("top","");}else{$('.content_box .content_match_fixed').css({"position":"fixed","top":"0","left":"auto"
});$('.content_box .content_match_fixed').css("bottom","");}
}else{$('.content_box .content_match_fixed').css({"position":"absolute","bottom":"0","left":"auto"
});$('.content_box .content_match_fixed').css("top","");}
}else{$('.content_box .content_match_fixed').css({"position":"absolute","top":"0","left":"auto"
});$('.content_box .content_match_fixed').css("bottom","");}
}else{if(scrollTop >=headH){$('.content_box .content_match_fixed').css({"position":"fixed","top":"0","left":"auto"
});$('.content_box .content_match_fixed').css("bottom","");}else{$('.content_box .content_match_fixed').css({"position":"absolute","top":"0","left":"auto"
});$('.content_box .content_match_fixed').css("bottom","");}
}
})
</script>

<script type="text/javascript">var livePage ="";var matchType ="zuqiu";
var urlN =window.location.href.split("#");if (urlN[1] ==1) {$("#liveList li a").removeClass("active");$(".content_match").children("div").css("display","none");$("#liveList .complete-qiu a").addClass("active");$(".content_match .content_qiu").css("display","block");}
</script>
<script>$(".after-today").show();$(".before-today").hide();$(".content_match_fixed a").removeClass("active");$(".today").addClass("active");$('.to-top').on("click",function() {$('body,html').animate({scrollTop:0
},500);$(this).removeClass("active");})
$('#liveList li').on("click",function(){
    var index=$(this).index();
    $(this).find('a').addClass('active');
    $(this).siblings().find('a').removeClass('active');
    $(".content_match>div").eq(index).css("display","block").siblings().css("display","none");
});
</script>


</html>