<div class="footer clearfix">
    <p>Copyright © ElevenGong 2021</p>
</div>
<script>
    $(function() {
        $("body").append('<div class="up-float"><a href="javascript:;" id="top-back"></a></div>')
        $(window).scroll(function(){
            if($(window).scrollTop()>200){
                $("#top-back").animate({height:60},10);
            }else{
                $("#top-back").animate({height:0},10);
            }
        })

        $("#top-back").click(function(){
            $("body,html").animate({scrollTop:0},300)
        })
    });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q0XRMVE3ZZ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Q0XRMVE3ZZ');
</script>